* {
  font-family: arial;
  font-size: 18px;
  color: #212121;
}

/* Footer */
#footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border: none !important;
}

.text-footer {
  font-size: 14px;
}

.item-footer {
  text-align: center !important;
  box-sizing: inherit;
  font-size: 24px !important;
  text-align: center !important;
  padding-top: 5px;
}

.fab, .fa {
  margin-left: 15px !important;
}

.footer-container {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.footer-opacity,
.icon-hover-opacity:hover {
  opacity: 0.6;
}

/* Nav */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  box-sizing: inherit;
}

.nav-red,
.nav-hover-red:hover {
  color: #fff !important;
  background-color: #4a148c !important;
}

.nav-shadow {
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-white,
.nav-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.nav-button {
  border: none;
  display: inline-block;
  padding: 15px;
  height: 30px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.table-container,
.w3-panel {
  margin-top: 180px;
  padding-left: 10%;
  padding-right: 10%;
}
.w3-border {
  border: 1px solid #ccc !important;
}

.w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
  padding: 10px 10px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.w3-table td {
  color: #666;
}

.w3-table,
.w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

/* Modal Register */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  overflow: hidden;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add {
  width: 50px;
  height: 50px;
  background-color: #4a148c;
  color: #fff;
  border-radius: 50px;
  right: 0;
  position: absolute;
  margin-right: 160px;
  margin-top: -20px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* Formulary */
.container {
  margin-top: 40px;
}

/* Style the input container */
.input-container {
  border: 1px solid #ccc;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* form icons */
.icon {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 8px; */
  color: #888;
  min-width: 30px;
  text-align: center;
}

/* Style input fields */
.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent !important;
  outline: none;
}

.btn {
  padding: 12px;
  margin-top: 30px;
  border: none;
  width: 200px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-reset {
  background-color: #4a148c;
  color: white;
}

input:valid {
  border: 1px solid green;
}